body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

.cloud-header-fixed {
  position: fixed;
  z-index: 100;
}

.user-tile {
  top: 55px;
  position: absolute
}

.list {
  background-color: #152935;
  width: 12.5rem;
  position: absolute;
  right: 0;
  top: 100%;
  list-style: none;
  padding: 20px;
}