# Set these values appropriate for you:
export HZN_EXCHANGE_USER_AUTH="myuser:mypw"
export DOCKER_HUB_ID=mydockerhubid   # your docker hub username, sign up at https://hub.docker.com/sso/start/?next=https://hub.docker.com/

# This is the IBM Event Streams instance you are sending data to
export MSGHUB_API_KEY='abcdefghijklmn0123456789'
export MSGHUB_BROKER_URL="kafka01-prod02.messagehub.services.us-south.bluemix.net:1234,kafka02-prod02.messagehub.services.us-south.bluemix.net:1234,kafka03-prod02.messagehub.services.us-south.bluemix.net:1234,kafka04-prod02.messagehub.services.us-south.bluemix.net:1234,kafka05-prod02.messagehub.services.us-south.bluemix.net:1234"
export MSGHUB_ADMIN_URL=https://kafka-admin-prod02.messagehub.services.us-south.bluemix.net:443

# This is not needed until you register your edge node with the service and pattern you published in the exchange:
#todo: this will change to HZN_EXCHANGE_NODE_AUTH when anax issue 786 is completed
export EXCHANGE_NODEAUTH="mydeviceid:mydevicetoken"

# You only need to set this if you are running 'hzn dev' without the full edge fabric agent installed
#export HZN_EXCHANGE_URL="https://alpha.edge-fabric.com/v1"
