apiVersion: v1
kind: Service
metadata:
  name: mosquito-helloworld
  namespace: {{ meta.namespace }}
  labels: 
    app.kubernetes.io/name: mosquito-helloworld
spec:
  type: NodePort 
  ports:
    - port: 8000
      targetPort: 8000
      nodePort: 30007
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: mosquito-helloworld
