.Sentiment-table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 10px;
  background-color: rgb(171, 211, 248)
}

td {
  padding: 5px;
  background-color: rgb(236, 234, 234)
}

p.page-description {
  text-align: center;
  font-weight: 500;
}