# Set these values appropriate for your Horizon instance
export HZN_ORG_ID=myorg
export HZN_EXCHANGE_USER_AUTH=myuser:mypw
export MYDOMAIN=mydomain.com
export HZN_DEVICE_ID=myedgenode
export ARCH=amd64   # arch of your edge node: amd64, or arm for Raspberry Pi, or arm64 for TX2
export PRIVATE_KEY_FILE=$(HOME)/myprivatekeyfile   # see: hzn key -h 
export PUBLIC_KEY_FILE=$(HOME)/mypublickeyfile
export DOCKER_HUB_ID=mydockerhubid   # your docker hub username, sign up at https://hub.docker.com/sso/start/?next=https://hub.docker.com/

# This is IBM Message Hub you are sending data to
export MSGHUB_API_KEY='abcdefghijklmn0123456789'
export MSGHUB_BROKER_URL="kafka01-prod02.messagehub.services.us-south.bluemix.net:1234,kafka02-prod02.messagehub.services.us-south.bluemix.net:1234,kafka03-prod02.messagehub.services.us-south.bluemix.net:1234,kafka04-prod02.messagehub.services.us-south.bluemix.net:1234,kafka05-prod02.messagehub.services.us-south.bluemix.net:1234"

# These are needed by 'hzn dev ...'
export SDR2MSGHUB_NAME=sdr2msghub
export SDR2MSGHUB_VERSION=x.x.x
export SDR_NAME=sdr
export SDR_VERSION=x.x.x
export GPS_NAME=gps
export GPS_VERSION=x.x.x

# You only need to set this if you are running 'hzn dev' without the full edge fabric agent installed
export HZN_EXCHANGE_URL="https://alpha.edge-fabric.com/v1"
