# Set these values appropriate for your Horizon instance
export HZN_EXCHANGE_URL="stg-edge-cluster.us-south.containers.appdomain.cloud/v1"
export HZN_ORG_ID=myorg
export MYDOMAIN=mydomain.com

export ARCH=amd64   # arch of your edge node: amd64, or arm for Raspberry Pi, or arm64 for TX2
export CPU_NAME=cpu   # the name of the service, used in the docker image path and in the service url
export CPU_VERSION=1.2.2   # the service version, and also used as the tag for the docker image. Must be in OSGI version format.

export DOCKER_HUB_ID=mydockerhubid   # your docker hub username, sign up at https://hub.docker.com/sso/start/?next=https://hub.docker.com/
