{
  "properties": [
    {
      "name": "openhorizon.hardwareId",
      "value": "00000000b4a7a109"
    },
    {
      "name": "openhorizon.cpu",
      "value": 2
    },
    {
      "name": "openhorizon.arch",
      "value": "arm"
    },
    {
      "name": "openhorizon.memory",
      "value": 926
    },
    {
      "name": "openhorizon.allowPrivileged",
      "value": true
    }
  ]
}