apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: nginx-route
  namespace: {{ ansible_operator_meta.namespace }}
spec:
  to:
    kind: Service
    name: nginx
    weight: 100
  port:
    targetPort: 8080
  wildcardPolicy: None
